@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.nav-text-gradient {
  background: #13B0F5;
  background: linear-gradient(to right, #13B0F5 0%, #E70FAA 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.nav-logo-gradient {
  background: #13B0F5;
background: linear-gradient(to right, #13B0F5 0%, #E70FAA 50%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.hero-gradient {
  background: #13B0F5;
  background: linear-gradient(to right, #13B0F5 0%, #E70FAA 76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.links:hover {
  background: #13B0F5;
  background: linear-gradient(to right, #13B0F5 0%, #E70FAA 69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-gradient::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -9px;
  bottom: -9px;
  left: -9px;
  right: -9px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #13B0F5 0%, #E70FAA 69%);
}


.btn {
  @apply outline outline-1 self-center p-2 px-5 rounded-lg outline-[#13B0F5] hover:bg-gradient-to-l from-[#13B0F5] to-[#E70FAA] hover:outline-none hover:text-white text-[#E70FAA];
}